<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>br.uff.filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/ProcessaLogin</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>CadastraAluno</servlet-name>
        <servlet-class>br.uff.servlets.CadastraAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerAluno</servlet-name>
        <servlet-class>br.uff.servlets.ControllerAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerInstrutores</servlet-name>
        <servlet-class>br.uff.servlets.ControllerInstrutores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerAdmin</servlet-name>
        <servlet-class>br.uff.servlets.ControllerAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessaSolicitacoes</servlet-name>
        <servlet-class>br.uff.servlets.ProcessaSolicitacoes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MontaPlanoDeEstudos</servlet-name>
        <servlet-class>br.uff.servlets.MontaPlanoDeEstudos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessaMatriculas</servlet-name>
        <servlet-class>br.uff.servlets.ProcessaMatriculas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CursosTurmasDisponiveis</servlet-name>
        <servlet-class>br.uff.servlets.CursosTurmasDisponiveis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessaMatricula</servlet-name>
        <servlet-class>br.uff.servlets.ProcessaMatricula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AceitaSolicitacao</servlet-name>
        <servlet-class>br.uff.servlets.AceitaSolicitacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessaComentarios</servlet-name>
        <servlet-class>br.uff.servlets.ProcessaComentarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessaNota</servlet-name>
        <servlet-class>br.uff.servlets.ProcessaNota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessaLogout</servlet-name>
        <servlet-class>br.uff.servlets.ProcessaLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessaLogin</servlet-name>
        <servlet-class>br.uff.servlets.ProcessaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListagemInstrutor</servlet-name>
        <servlet-class>br.uff.servlets.ListagemInstrutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaAlunos</servlet-name>
        <servlet-class>br.uff.servlets.ListaAlunos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaAluno</servlet-name>
        <servlet-class>br.uff.servlets.AdicionaAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaAluno</servlet-name>
        <servlet-class>br.uff.servlets.AtualizaAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletaAluno</servlet-name>
        <servlet-class>br.uff.servlets.DeletaAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaComentarios</servlet-name>
        <servlet-class>br.uff.servlets.ListaComentarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListagemCursosDisponiveis</servlet-name>
        <servlet-class>br.uff.servlets.ListagemCursosDisponiveis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizarInstrutores</servlet-name>
        <servlet-class>br.uff.servlets.VisualizarInstrutores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaCursos</servlet-name>
        <servlet-class>br.uff.servlets.ListaCursos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaCurso</servlet-name>
        <servlet-class>br.uff.servlets.AtualizaCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaCurso</servlet-name>
        <servlet-class>br.uff.servlets.AdicionaCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletaCurso</servlet-name>
        <servlet-class>br.uff.servlets.DeletaCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaInstrutor</servlet-name>
        <servlet-class>br.uff.servlets.AdicionaInstrutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaInstrutor</servlet-name>
        <servlet-class>br.uff.servlets.AtualizaInstrutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletaInstrutor</servlet-name>
        <servlet-class>br.uff.servlets.DeletaInstrutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaInstrutores</servlet-name>
        <servlet-class>br.uff.servlets.ListaInstrutores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaTurma</servlet-name>
        <servlet-class>br.uff.servlets.AdicionaTurma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaTurma</servlet-name>
        <servlet-class>br.uff.servlets.AtualizaTurma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletaTurma</servlet-name>
        <servlet-class>br.uff.servlets.DeletaTurma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaTurmas</servlet-name>
        <servlet-class>br.uff.servlets.ListaTurmas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaSolicitacoes</servlet-name>
        <servlet-class>br.uff.servlets.ListaSolicitacoes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecusaSolicitacao</servlet-name>
        <servlet-class>br.uff.servlets.RecusaSolicitacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaNotasAlunos</servlet-name>
        <servlet-class>br.uff.servlets.ListaNotasAlunos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaCursosInstrutor</servlet-name>
        <servlet-class>br.uff.servlets.ListaCursosInstrutor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastraAluno</servlet-name>
        <url-pattern>/CadastraAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerAluno</servlet-name>
        <url-pattern>/ControllerAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerInstrutores</servlet-name>
        <url-pattern>/ControllerInstrutores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerAdmin</servlet-name>
        <url-pattern>/ControllerAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessaSolicitacoes</servlet-name>
        <url-pattern>/ProcessaSolicitacoes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MontaPlanoDeEstudos</servlet-name>
        <url-pattern>/MontaPlanoDeEstudos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessaMatriculas</servlet-name>
        <url-pattern>/ProcessaMatriculas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CursosTurmasDisponiveis</servlet-name>
        <url-pattern>/CursosTurmasDisponiveis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessaMatricula</servlet-name>
        <url-pattern>/ProcessaMatricula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AceitaSolicitacao</servlet-name>
        <url-pattern>/AceitaSolicitacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessaComentarios</servlet-name>
        <url-pattern>/ProcessaComentarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessaNota</servlet-name>
        <url-pattern>/ProcessaNota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessaLogout</servlet-name>
        <url-pattern>/ProcessaLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessaLogin</servlet-name>
        <url-pattern>/ProcessaLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListagemInstrutor</servlet-name>
        <url-pattern>/ListagemInstrutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaAlunos</servlet-name>
        <url-pattern>/ListaAlunos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaAluno</servlet-name>
        <url-pattern>/AdicionaAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaAluno</servlet-name>
        <url-pattern>/AtualizaAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletaAluno</servlet-name>
        <url-pattern>/DeletaAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaComentarios</servlet-name>
        <url-pattern>/ListaComentarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListagemCursosDisponiveis</servlet-name>
        <url-pattern>/ListagemCursosDisponiveis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizarInstrutores</servlet-name>
        <url-pattern>/VisualizarInstrutores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaCursos</servlet-name>
        <url-pattern>/ListaCursos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaCurso</servlet-name>
        <url-pattern>/AtualizaCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaCurso</servlet-name>
        <url-pattern>/AdicionaCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletaCurso</servlet-name>
        <url-pattern>/DeletaCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaInstrutor</servlet-name>
        <url-pattern>/AdicionaInstrutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaInstrutor</servlet-name>
        <url-pattern>/AtualizaInstrutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletaInstrutor</servlet-name>
        <url-pattern>/DeletaInstrutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaInstrutores</servlet-name>
        <url-pattern>/ListaInstrutores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaTurma</servlet-name>
        <url-pattern>/AdicionaTurma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaTurma</servlet-name>
        <url-pattern>/AtualizaTurma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletaTurma</servlet-name>
        <url-pattern>/DeletaTurma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaTurmas</servlet-name>
        <url-pattern>/ListaTurmas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaSolicitacoes</servlet-name>
        <url-pattern>/ListaSolicitacoes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecusaSolicitacao</servlet-name>
        <url-pattern>/RecusaSolicitacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaNotasAlunos</servlet-name>
        <url-pattern>/ListaNotasAlunos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaCursosInstrutor</servlet-name>
        <url-pattern>/ListaCursosInstrutor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/erro.jsp</location>
    </error-page>
</web-app>
